<nav class="navbar navbar-light">
  <div class="navbar-brand">
    <span class="mr-2">FSD Assignment2</span>
    <i class="fas fa-bars"></i>
  </div>
  <div>
      <i class="far fa-user"> </i>
       Mei Hua Liu (dllmhliu@cn.ibm.com)
    </div>
</nav>
<nav class="navbar2 navbar-lights">
  <table #menuRef role="menubar" class="menu">
    <tr>
      <td class="table-td">
      <a 
      class="menu-item"
      [routerLink]="['/add']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    > 
      <i class="fas fa-folder-plus"></i>
      <span>Add Video</span>
  </a>
</td>
<td class="table-td">
    <a
      class="menu-item"
      [routerLink]="['/play']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-video"> </i>
      <span>Video Player</span>
</a>
</td>
<br>
</tr>
</table>
</nav>
