#videoControls {
  position: absolute;
  min-width: 375px;
  bottom: -30px;
  width: 100%;
  padding: 2px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn, .btn[disabled]:hover {
  color: rgba(255, 255, 255, 0.8);
}

.btn, .btn-fullscreen:hover .fa-expand:before {
  font-size: 1.1em;
}

.btn:hover:not([disabled]) {
  color: rgba(255, 255, 255);
}

.time-tag {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Courier New', Courier, monospace;
}

button:focus {
  outline: 0;
  box-shadow: none;
}
